<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">

  <title>Conversor de Moedas</title>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <style>
    .active {
      background: rgba(255, 255, 0, 0.5)
    }
  </style>
</head>

<body>
  <%= yield %>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>